doctype html
html
  head
    link(href='styles/main.css', rel='stylesheet')
  body
    .main-container

    script(type="text/javascript", src="scripts/main.js")
    // For Development only.
    script(src="http://localhost:35729/livereload.js?snipver=1")
